.closeButton {
  display: block;
  margin: 0 0 0 auto;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.closeIcon {
  width: 40px;
  height: 40px;
}
