@import '../../utils/styles/breakPointMixins';
@import '../../utils/styles/colors';
@import '../../utils/styles/fontSize';

.sideBar {
  height: 100%;
  width: calc(100% - 20px);
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.searchBarLabel,
.dateSelectorLabel,
.categorySelectorLabel {
  color: $blackShade2;
  margin-bottom: 5px;
}

.dateFilter {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.startDateLabel {
  color: $blackShade2;
  font-size: $sm2;
}

.endDateLabel {
  color: $blackShade2;
  margin-top: 10px;
  font-size: $sm2;
}

.fromDateSelector {
  display: flex;
  margin-top: 2px;
  width: 100%;
}

.toDateSelector {
  display: flex;
  margin-top: 2px;
  width: 100%;
}

.categorySelector {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
